@model WebApplication.Models.Driver


@{
    ViewData["Title"] = "Profile";
}

<h1>@ViewData["Title"]</h1>

<script>
    function SelectDriverType() {
        var selec = document.getElementById("DriverTypeId");
        var dis = selec.options[selec.selectedIndex].text;
        document.getElementById("mytext").value = dis;
    }

    function SelectGender() {
        document.getElementsByName('radio1')
            .forEach(radio => {
                if (radio.checked) {
                    document.getElementById("inGender").value = radio.value;
                }
            });
    }</script>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- /.col -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link" asp-action="List" >Activity</a></li>
                            <li class="nav-item"><a class="btn btn-success" >Trips</a></li>
                            <li class="nav-item"><a class="nav-link" href="#update" data-toggle="tab">Reports</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="update">
                                <!-- Post -->



                                <div class="card card-success">
                                    <div class="card-header">
                                        <h3 class="card-title">ADD DRIVER</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <form role="form" asp-action="Add">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <!-- text input -->
                                                    <div class="form-group">
                                                        <label asp-for="Name" class="control-lable"></label>
                                                        <input type="text" asp-for="Name" class="form-control" placeholder="Enter Name">
                                                        <span asp-validation-for="Name" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label asp-for="Surname" class="control-lable"></label>
                                                        <input type="text" asp-for="Surname" class="form-control" placeholder="Enter Name">
                                                        <span asp-validation-for="Surname" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Gender</label>
                                                    <!-- text input -->
                                                    <div class="form-check">
                                                        @Html.RadioButtonFor(model => model.Gender, "Male") Male
                                                    </div>
                                                    <div class="form-check">
                                                        @Html.RadioButtonFor(model => model.Gender, "Female") Female
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <label>User-Type</label>
                                                    <select class="form-control" disabled>
                                                        <option>Driver</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <!-- input states -->
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <!-- text input -->
                                                    <div class="form-group">
                                                        <label asp-for="Email" class="control-lable"></label>
                                                        <input type="text" asp-for="Email" class="form-control" placeholder="Enter Name">
                                                        <span asp-validation-for="Email" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label asp-for="Cell" class="control-lable"></label>
                                                        <input type="text" asp-for="Cell" class="form-control" placeholder="Enter Name">
                                                        <span asp-validation-for="Cell" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <!-- select -->
                                                    <div class="form-group">
                                                        <label>Driver-Type</label>
                                                        <select class="form-control" asp-for="DriverType" id="DriverTypeId" onchange="SelectDriverType();">
                                                            <option>Worker-Driver</option>
                                                            <option>Schoolar-Driver</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Selected Choice</label>
                                                        <input type="text" id="mytext" class="form-control" placeholder="Enter ">
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="submit" value="Create" class="btn btn-success" />
                                            <a asp-action="Index" class="btn btn-primary">&lt;&lt; Back</a>
                                        </form>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- Post -->
                                <!-- /.post -->
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
</section>


